<header>
  <nav class="menu">
    <ul class="menu__items">
      <li class="menu__item">
        <a class="menu__link text-menu" href="" target="_self">
          Accueil
          <svg class="icon icon-home">
            <use xlink:href="#icon-home"></use>
          </svg>
        </a>
      </li>
      <li class="menu__item">
        <a class="menu__link text-menu" href="" target="_self">
          Favoris
          <svg class="icon icon-favorite">
            <use xlink:href="#icon-favorite"></use>
          </svg>
        </a>
      </li>
      <li class="menu__item">
        <a class="menu__link text-menu" href="" target="_self">
          Compte
          <svg class="icon icon-account">
            <use xlink:href="#icon-account"></use>
          </svg>
        </a>
      </li>
      <li class="menu__item">
        <a class="menu__link text-menu" href="" target="_self">
          Recherche
          <svg class="icon icon-search">
            <use xlink:href="#icon-search"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</header>