// COLORS
$black: #262626;
$white: #FFFFFF;

$darkGreen: #65A69B;
$midGreen: #AFCFCE;
$lightGreen: #D7E8E7;

$gradient: linear-gradient(180deg, #39C1AA 0%, #0289B3 100%);

// FONTS
$font: 'Mont', Helvetica, sans-serif;